/* src/notesPage.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
  }
  
  h1 {
    margin: 0;
  }
  
  #board {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    background-color: #D2B48C; /* Color similar al corcho */
    width: 100vw;
    height: 100vh;
  }
  
  .note {
    width: 300px;
    height: 300px;
    background-color: #ffe4b5; /* Pastel Yellow por defecto */
    border: 2px solid #ccc;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
  }
  
  .floating-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007bff;
    color: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    font-size: 24px;
    cursor: pointer;
  }
  
  .tooltip {
    visibility: hidden;
    width: 120px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
  }
  
  .floating-button:hover .tooltip {
    visibility: visible;
  }
  
  #note-form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    display: none;
  }
  
  #note-form input,
  #note-form select,
  #note-form button,
  #note-form textarea {
    margin-bottom: 10px;
  }
  
  .hidden {
    display: none;
  }
  
  .dropdown {
    float: right;
    position: relative;
    display: inline-block;
  }
  
  .dropbtn {
    background-color: #333;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    right: 0; /* Ajuste para alinear el menú a la derecha */
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }
  
  .show {
    display: block;
  }
  
  .note button {
    margin-top: 10px;
  }
  